In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()
b()
b()
a

6

We got the output as 6. 
a=0    => First, we initialized a global variable called a
def b():
    global a
    a = c(a)
       => define a function b() that uses the global keyword to modify the global variable a by calling the c(a) function.
def c(a):
    return a + 2
       => define a function c(a) that takes an argument a and returns a + 2
b()  => When we call b() function once, a changes to 0+2 =2;
Like this when we call b() 3 times a= 4+2 =6;
So the output a will be 6 finally.

In [8]:
def filelength(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"Filename {file_name} not found.")
    except Exception as e:
        print(f"An error occurred: {e}")
filelength("idterm.py")

Filename idterm.py not found.

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch_contents = []

    def put_in_pouch(self, item):
        self.pouch_contents.append(item)

    def pouch_contents(self):
        return self.pouch_contents

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents)
k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [9]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [10]:
collatz(1)

1

In [11]:
collatz(10)

10
5
16
8
4
2
1

In [2]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")

In [3]:
binary(0)

0

In [4]:
binary(1)

1

In [5]:
binary(3)

11

In [6]:
binary(9)

1001

8.a) All the temperature data.

In [ ]:
SELECT Temperature FROM Weather;

8.b) All the cities, but without repetition.SELECT DISTINCT City FROM Weather.

In [ ]:
SELECT DISTINCT City FROM Weather;

8.c)All the records for India.

In [ ]:
SELECT * FROM Weather WHERE Country = 'India';

8.d)All the Fall records.

In [ ]:
SELECT * FROM Weather WHERE Season = 'Fall';

8.e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
SELECT City, Country, Season
FROM Weather
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400;

8.f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
SELECT City, Country
FROM Weather
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

In [ ]:
8.g)The total annual rainfall for Cairo.

In [ ]:
SELECT SUM(Rainfall) AS Total_Rainfall
FROM Weather
WHERE City = 'Cairo';

In [ ]:
8.h)The total rainfall for each season.

In [ ]:
SELECT Season, SUM(Rainfall) AS Total_Rainfall
FROM Weather
GROUP BY Season;

In [12]:
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
lowercase_info = [word.lower() for word in uppercase_words]
wordlength=[len(word) for word in words]
mixed_list = [[word.upper(), word.lower(), len(word)] for word in words]
filtered_words = [word for word in words if len(word) >= 4]

print(uppercase_words)
print(lowercase_info)
print (wordlength)
print(mixed_list)
print(filtered_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']